<footer id="footer" class="mt-0">
        <div class="container my-4">
          <div class="row py-5">
            <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
              <h5
                class="text-5 text-transform-none font-weight-semibold text-color-light mb-4"
              >
                Contact Details
              </h5>
              <p class="text-4 mb-0">Mansoora, Multan Road,</p>
              <p class="text-4 mb-0"> Lahore</p>
              <p class="text-4 mb-0">Pakistan.</p>
            </div>
            <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
              <h5
                class="text-5 text-transform-none font-weight-semibold text-color-light mb-4"
              >
                Opening Hours
              </h5>
              <p class="text-4 mb-0">
                Mon-Fri:
                <span class="text-color-light">8:30 am to 5:00 pm</span>
              </p>
              <p class="text-4 mb-0">
                Saturday:
                <span class="text-color-light">9:30 am to 1:00 pm</span>
              </p>
              <p class="text-4 mb-0">
                Sunday: <span class="text-color-light">Closed</span>
              </p>
            </div>
            <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
              <h5
                class="text-5 text-transform-none font-weight-semibold text-color-light mb-4"
              >
                Call Us Now
              </h5>
              <p class="text-7 text-color-light font-weight-bold mb-2">
                <a
                  href="tel:+924235252144"
                  class="text-decoration-none text-color-light"
                  >+92-42-35252144  </a
                >
              </p>
              <p class="text-4 mb-0">
                Sales:
                <span class="text-color-light">
                  <a
                    href="tel:+924235252144"
                    class="text-decoration-none text-color-light"
                    >+92-42-35252144  </a
                  >
                </span>
              </p>
            </div>
            <div class="col-md-6 col-lg-3">
              <h5
                class="text-5 text-transform-none font-weight-semibold text-color-light mb-4"
              >
                Social Media
              </h5>
              <ul class="footer-social-icons social-icons m-0">
                <li class="social-icons-facebook">
                  <a
                    href="https://web.facebook.com/JIYouth.Pk?_rdc=1&_rdr"
                    target="_blank"
                    title="Facebook"
                    ><i class="fab fa-facebook-f text-2"></i
                  ></a>
                </li>
                <li class="social-icons-twitter">
                  <a
                    href="https://www.instagram.com/jiyouth.pk/"
                    target="_blank"
                    title="instagram"
                    ><i class="fab fa-instagram text-2"></i
                  ></a>
                </li>

                <li class="social-icons-twitter">
                  <a
                    href="https://twitter.com/JIYouthOfficial"
                    target="_blank"
                    title="Twitter"
                    ><i class="fab fa-twitter text-2"></i
                  ></a>
                </li>
                <li class="social-icons-linkedin">
                  <a
                    href="https://www.youtube.com/channel/UCwvtJYWaFgeRUQtjeh9d2Cg"
                    target="_blank"
                    title="Youtube"
                    ><i class="fab fa-youtube text-2"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="footer-copyright footer-copyright-style-2 pb-4">
            <div class="py-2">
              <div class="row py-4">
                <div
                  class="col d-flex align-items-center justify-content-center mb-4 mb-lg-0"
                >
                  <p>© Copyright 2023. All Rights Reserved.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>