<header
  id="header"
  data-plugin-options="{'stickyEnabled': true, 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': true, 'stickyStartAt': 148, 'stickySetTop': '-148px', 'stickyChangeLogo': true}"
>
  <div class="header-body border-color-primary border-top-0 box-shadow-none">
    <div class="header-top header-top-default border-bottom-0 border-top-0">
      <div class="container">
        <div class="header-row py-2">
          <div class="header-column justify-content-start">
            <div class="header-row">
              <nav class="header-nav-top">
                <ul class="nav nav-pills text-uppercase text-2">
                  <li class="nav-item nav-item-anim-icon">
                    <a class="nav-link ps-0" href="#"
                      ><i class="fas fa-angle-right"></i> About Us</a
                    >
                  </li>
                  <li class="nav-item nav-item-anim-icon">
                    <a class="nav-link" href="#"  
                      ><i class="fas fa-angle-right"></i> Contact Us</a
                    >
                  </li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="header-column justify-content-end">
            <div class="header-row">
              <ul
                class="header-social-icons social-icons d-none d-sm-block social-icons-clean"
              >
                <li class="social-icons-facebook">
                  <a
                    href="https://www.instagram.com/jiyouth.pk/"
                    target="_blank"
                    title="Instagram"
                    ><i class="fab fa-instagram"></i
                  ></a>
                </li>
                <li class="social-icons-twitter">
                  <a
                    href="https://twitter.com/JIYouthOfficial"
                    target="_blank"
                    title="Twitter"
                    ><i class="fab fa-twitter"></i
                  ></a>
                </li>

                <li class="social-icons-facebook">
                  <a
                    href="https://web.facebook.com/JIYouth.Pk?_rdc=1&_rdr"
                    target="_blank"
                    title="Facebook"
                    ><i class="fab fa-facebook-f"></i
                  ></a>
                </li>
                <li class="social-icons-linkedin">
                  <a
                    href="https://www.youtube.com/channel/UCwvtJYWaFgeRUQtjeh9d2Cg"
                    target="_blank"
                    title="Youtube"
                    ><i class="fab fa-youtube"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="header-container container z-index-2">
      <div class="header-row py-2">
        <div class="header-column">
          <div class="header-row">
            <div class="header-logo header-logo-sticky-change">
              <a href="" onClick="window.location='/'">
              <%#= image_tag "jiyouthlogo.png", class:"header-logo-sticky opacity-0", alt:"JiYouth"%>
                <img
                  class="header-logo-sticky opacity-0"
                  alt="JiYouth"
                  width="100"
                  height="48"
                  data-sticky-width="89"
                  data-sticky-height="43"
                  data-sticky-top="88"
                  src="/assets/jiyouthlogo.png"
                />
                <img
                  class="header-logo-non-sticky opacity-0"
                  alt="JiYouth"

                  src="/assets/jiyouthlogo.png"
                /> 
              </a>
            </div>
          </div>
        </div>
        <div class="header-column justify-content-end">
          <div class="header-row">
            <ul class="header-extra-info d-flex align-items-center">
              <li class="d-none d-sm-inline-flex">
                <div class="header-extra-info-icon">
                  <i
                    class="far fa-envelope text-color-primary text-4 position-relative bottom-2"
                  ></i>
                </div>
                <div class="header-extra-info-text">
                  <label>SEND US AN EMAIL</label>
                  <strong
                    ><a
                      href="mailto:info@jiyouth.pk"
                      class="text-decoration-none text-color-hover-primary"
                      >info@jiyouth.org</a
                    ></strong
                  >
                </div>
              </li>
              <li>
                <div class="header-extra-info-icon">
                  <i
                    class="fab fa-whatsapp text-color-primary text-4 position-relative bottom-1"
                  ></i>
                </div>
                <div class="header-extra-info-text">
                  <label>CALL US NOW</label>
                  <strong
                    ><a
                      href="tel:+924235252144  "
                      class="text-decoration-none text-color-hover-primary"
                      >+92-42-35252144
                    </a></strong
                  >
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div
      class="header-nav-bar bg-primary"
      data-sticky-header-style="{'minResolution': 991}"
      data-sticky-header-style-active="{'background-color': 'transparent'}"
      data-sticky-header-style-deactive="{'background-color': '#0088cc'}"
    >
      <div class="container">
        <div class="header-row">
          <div class="header-column">
            <div class="header-row justify-content-end">
              <div
                class="header-nav header-nav-force-light-text justify-content-start py-2 py-lg-3"
                data-sticky-header-style="{'minResolution': 991}"
                data-sticky-header-style-active="{'margin-left': '135px'}"
                data-sticky-header-style-deactive="{'margin-left': '0'}"
              >
                <div
                  class="header-nav-main header-nav-main-effect-1 header-nav-main-sub-effect-1"
                >
                  <nav class="custome-handle collapse">
                    <ul class="nav nav-pills" id="mainNav">
                      <li class="dropdown dropdown-full-color dropdown-light">
                        <a href="" class="dropdown-item active" onClick="window.location='/'">
                        
                          Home
                        </a>
                      </li>

                      <li class="dropdown dropdown-full-color dropdown-light">
                        <a class="dropdown-item"> About Us </a>
                      </li>

                      <li class="dropdown dropdown-full-color dropdown-light">
                        <a class="dropdown-item"> Activities </a>
                      </li>

                      <li class="dropdown dropdown-full-color dropdown-light">
                        <a class="dropdown-item"> Events </a>
                      </li>

                      <li class="dropdown dropdown-full-color dropdown-light">
                        <a class="dropdown-item"> Media </a>
                      </li>

                      <li class="dropdown dropdown-full-color dropdown-light">
                        <a class="dropdown-item"> News </a>
                      </li>

                      <li class="dropdown dropdown-full-color dropdown-light">
                        <a class="dropdown-item"> Blogs </a>
                      </li>

                      <li class="dropdown dropdown-full-color dropdown-light">
                        <a class="dropdown-item"> Contact </a>
                      </li>
                    </ul>
                  </nav>
                </div>
                <button
                  class="btn header-btn-collapse-nav my-2"
                >
                  <i class="fas fa-bars"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>


<script>
$(document).ready(function(){
  $("body").on("click", ".header-btn-collapse-nav", function(e){
    if ($('.header-nav-main nav').hasClass("show")){
      $('.header-nav-main nav').removeClass("show")
      $('.header-nav-main nav').addClass("closed")

      $('html').removeClass('mobile-menu-opened');

			 		$('.header-body').animate({
				 		height: ($('.header-body').outerHeight() - $('.header-nav-main nav').outerHeight(true))
				 	}, function(){
				 		$(this).height('auto');
				 	});
    } else {
      $('.header-nav-main nav').removeClass("closed")
      $('.header-nav-main nav').addClass("show")
      $('html').addClass('mobile-menu-opened');

			 		$('.header-body').animate({
				 		height: ($('.header-body').outerHeight() + $('.header-nav-main nav').outerHeight(true)) + 10
				 	});

				 	//Header Below Slider / Header Bottom Slider - Scroll to menu position
				 	if( $('#header').is('.header-bottom-slider, .header-below-slider') && !$('html').hasClass('sticky-header-active') ) {
				 		self.scrollToTarget( $('#header'), 0 );
				 	}
    } 
  })

});
</script>