<div
  class="row recent-posts appear-animation"
  data-appear-animation="fadeInUpShorter"
  data-appear-animation-delay="200"
>

  <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
    <article>
      <div class="row">
        <div class="col">
          <a href="#" class="text-decoration-none">
            <img
              src="/assets/blog/membirship.jpg"
              class="img-fluid hover-effect-2 mb-3"
              alt=""
            />
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-auto pe-0">
          <div class="date">
            <span
              class="day bg-color-light text-color-dark font-weight-extra-bold"
              >1</span
            >
            <span
              class="month bg-color-light font-weight-semibold text-color-primary text-1"
              >FEB</span
            >
          </div>
        </div>
        <div class="col ps-1">
          <h4 class="line-height-3 text-4">
            <a href="#" class="text-light">Membership Campaign.</a>
          </h4>
          <p class="text-color-light line-height-5 opacity-6 pe-4 mb-1">
            I Youth started its membership campaign on 1st February.
          </p>
          <a
            href="/"
            class="read-more text-color-light font-weight-semibold text-2"
            >read more <i class="fas fa-chevron-right text-1 ms-1"></i
          ></a>
        </div>
      </div>
    </article>
  </div>

  <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
    <article>
      <div class="row">
        <div class="col">
          <a href="#" class="text-decoration-none">
            <img
              src="/assets/blog/council.jpg"
              class="img-fluid hover-effect-2 mb-3"
              alt=""
            />
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-auto pe-0">
          <div class="date">
            <span
              class="day bg-color-light text-color-dark font-weight-extra-bold"
              >18</span
            >
            <span
              class="month bg-color-light font-weight-semibold text-color-primary text-1"
              >JAN</span
            >
          </div>
        </div>
        <div class="col ps-1">
          <h4 class="line-height-3 text-4">
            <a href="#" class="text-light">Executive Council </a>
          </h4>
          <p class="text-color-light line-height-5 opacity-6 pe-4 mb-1">
            Central President Russel Khan participated in the JI Youth Khyber...
          </p>
          <a
            href="/"
            class="read-more text-color-light font-weight-semibold text-2"
            >read more <i class="fas fa-chevron-right text-1 ms-1"></i
          ></a>
        </div>
      </div>
    </article>
  </div>

  <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
    <article>
      <div class="row">
        <div class="col">
          <a href="#" class="text-decoration-none">
            <img
              src="/assets/blog/deligation_1_450x231.jpg"
              class="img-fluid hover-effect-2 mb-3"
              alt=""
            />
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-auto pe-0">
          <div class="date">
            <span
              class="day bg-color-light text-color-dark font-weight-extra-bold"
              >15</span
            >
            <span
              class="month bg-color-light font-weight-semibold text-color-primary text-1"
              >JAN</span
            >
          </div>
        </div>
        <div class="col ps-1">
          <h4 class="line-height-3 text-4">
            <a href="#" class="text-light"
              >Delegation of JI Youth’s</a
            >
          </h4>
          <p class="text-color-light line-height-5 opacity-6 pe-4 mb-1">
            Alkhidmat Foundation Pakistan organized its 6th ..
          </p>
          <a
            href="/"
            class="read-more text-color-light font-weight-semibold text-2"
            >read more <i class="fas fa-chevron-right text-1 ms-1"></i
          ></a>
        </div>
      </div>
    </article>
  </div>

  <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
    <article>
      <div class="row">
        <div class="col">
          <a href="#" class="text-decoration-none">
            <img
              src="/assets/blog/excutive.jpg"
              class="img-fluid hover-effect-2 mb-3"
              alt=""
            />
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-auto pe-0">
          <div class="date">
            <span
              class="day bg-color-light text-color-dark font-weight-extra-bold"
              >31</span
            >
            <span
              class="month bg-color-light font-weight-semibold text-color-primary text-1"
              >DEC</span
            >
          </div>
        </div>
        <div class="col ps-1">
          <h4 class="line-height-3 text-4">
            <a href="#" class="text-light">Executive Council</a>
          </h4>
          <p class="text-color-light line-height-5 opacity-6 pe-4 mb-1">
            Ameer Jamaat-e-Islami participated in the JI Youth Punjab Nor...
          </p>
          <a
            href="/"
            class="read-more text-color-light font-weight-semibold text-2"
            >read more <i class="fas fa-chevron-right text-1 ms-1"></i
          ></a>
        </div>
      </div>
    </article>
  </div>

  

  

  <div class="col-md-6 col-lg-3 d-none">
    <article>
      <div class="row">
        <div class="col">
          <a href="#" class="text-decoration-none">
            <img
              src="/assets/blog/blog-corporate-3-1.jpg"
              class="img-fluid hover-effect-2 mb-3"
              alt=""
            />
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-auto pe-0">
          <div class="date">
            <span
              class="day bg-color-light text-color-dark font-weight-extra-bold"
              >12</span
            >
            <span
              class="month bg-color-light font-weight-semibold text-color-primary text-1"
              >JAN</span
            >
          </div>
        </div>
        <div class="col ps-1">
          <h4 class="line-height-3 text-4">
            <a href="#" class="text-light"
              >Lorem ipsum dolor sit amet, consectetur</a
            >
          </h4>
          <p class="text-color-light line-height-5 opacity-6 pe-4 mb-1">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
          <a
            href="/"
            class="read-more text-color-light font-weight-semibold text-2"
            >read more <i class="fas fa-chevron-right text-1 ms-1"></i
          ></a>
        </div>
      </div>
    </article>
  </div>
</div>
