<!-- FOR DESKTOP -->
<div
  class="owl-carousel owl-carousel-light owl-theme manual dots-inside dots-horizontal-center 
  show-dots-hover show-dots-xs nav-style-1 nav-inside nav-inside-plus nav-dark nav-lg 
  nav-font-size-lg show-nav-hover mb-0 d-none d-lg-block  d-none"
  data-plugin-options="{'autoplayTimeout': 4000}"
  data-dynamic-height="['430px','550px','500px','500px','500px','500px','500px','320px']"
  style="height: 430px"
>
  <div class="owl-stage-outer">
    <div class="owl-stage">
      <!-- Carousel Slide 1 -->
      <div
        class="owl-item position-relative"
        style="
          background-image: url(/assets/slides/banner.png);
          background-size: cover;
          background-position: center;
        "
      ></div>

      <!-- Carousel Slide 2 -->

      <div
        class="owl-item position-relative"
        style="
          background-image: url(/assets/slides/banner.png);
          background-size: cover;
          background-position: center;
        "
      ></div>
    </div>
  </div>
  <div class="owl-nav">
    <button type="button" role="presentation" class="owl-prev"></button>
    <button type="button" role="presentation" class="owl-next"></button>
  </div>
  <div class="owl-dots mb-5">
    <button role="button" class="owl-dot active"><span></span></button>
    <button role="button" class="owl-dot"><span></span></button>
  </div>
</div>

<!-- FOR TABLETS -->
<div
  class="owl-carousel owl-carousel-light manual dots-inside dots-horizontal-center
   show-dots-hover show-dots-xs nav-style-1 nav-inside nav-inside-plus nav-dark nav-lg
    nav-font-size-lg show-nav-hover mb-0 d-none d-md-block d-lg-none d-none"
  data-plugin-options="{'autoplayTimeout': 3000}"
  data-dynamic-height="['650px','650px','300px','550px','500px']"
  style="height: 300px"
>
  <!-- data-dynamic-height="['650px','650px','800px','550px','500px']" -->

  <div class="owl-stage-outer">
    <div class="owl-stage">
      <!-- Carousel Slide 1 -->
      <div
        class="owl-item position-relative"
        style="
          background-image: url(/assets/slides/banner.png);
          background-size: cover;
          background-position: center;
        "
      ></div>

      <!-- Carousel Slide 2 -->
      <div class="owl-item position-relative overflow-hidden">
        <div
          class="background-image-wrapper position-absolute top-0 left-0 right-0 bottom-0"
          data-appear-animation="kenBurnsToRight"
          data-appear-animation-duration="13s"
          data-plugin-options="{'minWindowWidth': 0}"
          data-carousel-onchange-show
          style="
            background-image: url(/assets/slides/banner.png);
            background-size: cover;
            background-position: center;
          "
        ></div>
      </div>
    </div>
  </div>

  <div class="owl-nav">
    <button type="button" role="presentation" class="owl-prev"></button>
    <button type="button" role="presentation" class="owl-next"></button>
  </div>
  <div class="owl-dots mb-5">
    <button role="button" class="owl-dot active"><span></span></button>
    <button role="button" class="owl-dot"><span></span></button>
  </div>
</div>

<!-- FOR MOBILE  < 768-->

<div
  class="owl-carousel owl-carousel-light owl-carousel-light-init-fadeIn owl-theme manual
   dots-inside dots-horizontal-center show-dots-hover nav-style-diamond nav-with-transparency 
   nav-inside nav-inside-plus nav-dark nav-md nav-font-size-md show-nav-hover mb-0 d-md-none d-none"
  data-plugin-options="{'autoplayTimeout': 4000}"
  data-plugin-options="{'autoplay': false, 'autoplayTimeout': 7000}"
  data-dynamic-height="['700px','700px','600px','500px','295px']"
  style="height: 410px; opacity: 1"
>
  <div class="owl-stage-outer">
    <div class="owl-stage">
      <!-- Carousel Slide 1 -->
      <div class="owl-item position-relative">
        <div
          class="background-image-wrapper position-absolute top-0 left-0 right-0 bottom-0 appear-animation animated appear-animation-visible"
          data-appear-animation="kenBurnsToRight"
          data-appear-animation-duration="3s"
          data-plugin-options="{'minWindowWidth': 0}"
          data-carousel-onchange-show=""
          style="
            background-image: url(/assets/slides/mobile-banner-1.png);
            background-size: cover;
            background-position: center;
          "
        ></div>
      </div>

      <!-- Carousel Slide 2 -->
      <div class="owl-item position-relative">
        <div
          class="background-image-wrapper position-absolute top-0 left-0 right-0 bottom-0 appear-animation animated appear-animation-visible"
          data-appear-animation="kenBurnsToRight"
          data-appear-animation-duration="3s"
          data-plugin-options="{'minWindowWidth': 0}"
          data-carousel-onchange-show=""
          style="
            background-image: url(/assets/slides/mobile-banner-2.png);
            background-size: cover;
            background-position: center;
          "
        ></div>
      </div>
    </div>
  </div>
  <div class="owl-nav mt-5">
    <button type="button" role="presentation" class="owl-prev"></button>
    <button type="button" role="presentation" class="owl-next"></button>
  </div>
</div>