<div class="body">      
  <div role="main" class="main">
    <div class="container py-4">
      <ul class="nav nav-pills sort-source sort-source-style-3 justify-content-center" data-sort-id="team" data-option-key="filter">
        <li class="nav-item active" data-option-value="*"><a class="nav-link text-2-5 text-uppercase active" href="#">Punjab</a></li>
        <li class="nav-item" data-option-value=".g-secretary"><a class="nav-link text-2-5 text-uppercase" href="#">KPK</a></li>
        <li class="nav-item" data-option-value=".d-secretary"><a class="nav-link text-2-5 text-uppercase" href="#">Balochistan</a></li>
        <li class="nav-item" data-option-value=".d-secretary"><a class="nav-link text-2-5 text-uppercase" href="#">Sindh</a></li>
        </ul>
        <div class=" mt-4 pt-2"  >
        <div class="row team-list">
          <div class="col-12 d-flex flex-wrap justify-content-between">
              <% (0..15).each do |a| %>
              <div class="form-group col-btn mx-2">
              <%= link_to "Punjab", political_leadership_show_path , class:"btn btn-primary btn-rounded btn-px-4 btn-py-2 font-weight-bold"%>
                <!-- <button class="btn btn-primary btn-rounded btn-px-4 btn-py-2 font-weight-bold" ><%= "Punjab"%></button> -->
            </div>
            <% end %>
          </div>           
        </div>
      </div>
    </div>
  </div>  
</div>

<div class="political-leadership-section">

</div>