<div class="body">
			
	<div role="main" class="main">
		

		<div class="container py-4">
			<ul class="nav nav-pills sort-source sort-source-style-3 justify-content-center" data-sort-id="team" data-option-key="filter">
				<li class="nav-item active" data-option-value="*"><a class="nav-link text-2-5 text-uppercase active" href="#">Show All</a></li>
				<li class="nav-item" data-option-value=".vice-president"><a class="nav-link text-2-5 text-uppercase" href="#">Vice President</a></li>
				<li class="nav-item" data-option-value=".g-secretary"><a class="nav-link text-2-5 text-uppercase" href="#">General Secretary</a></li>
				<li class="nav-item" data-option-value=".d-secretary"><a class="nav-link text-2-5 text-uppercase" href="#">Deputy Secretary</a></li>
			</ul>

			<div class=" mt-4 pt-2"  >
				<div class="row team-list sort-destination" ">

					<div class="col-12 col-sm-6 col-lg-3 isotope-item leadership">
						<span class="thumb-info thumb-info-hide-wrapper-bg mb-4">
							<span class="thumb-info-wrapper">
								<a href="about-me.html">
									<img src="/assets/team/adeel_367x367.jpg" class="img-fluid" alt="">
									<span class="thumb-info-title">
										<span class="thumb-info-inner">Hafiz Adeel Basit</span>
										<span class="thumb-info-type">Vice President</span>
									</span>
								</a>
							</span>
							<span class="thumb-info-caption">
								<span class="thumb-info-caption-text d-none">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac ligula mi, non suscipitaccumsan.</span>
								<span class="thumb-info-social-icons mb-4 mt-3">
									<a target="_blank" href="http://www.facebook.com"><i class="fab fa-facebook-f"></i><span>Facebook</span></a>
									<a href="http://www.linkedin.com"><i class="fab fa-linkedin-in"></i><span>Linkedin</span></a>
									<a href="http://www.twitter.com"><i class="fab fa-twitter"></i><span>Twitter</span></a>
								</span>
							</span>
						</span>
					</div>

					<div class="col-12 col-sm-6 col-lg-3 isotope-item leadership">
						<span class="thumb-info thumb-info-hide-wrapper-bg mb-4">
							<span class="thumb-info-wrapper">
								<a href="about-me.html">
									<img src="/assets/team/rusel_367x367.jpg" class="img-fluid" alt="">
									<span class="thumb-info-title">
										<span class="thumb-info-inner">Russel Khan Baber</span>
										<span class="thumb-info-type">Central President</span>
									</span>
								</a>
							</span>
							<span class="thumb-info-caption">
								<span class="thumb-info-caption-text d-none">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac ligula mi, non suscipitaccumsan.</span>
								<span class="thumb-info-social-icons mb-4 mt-3">
									<a target="_blank" href="http://www.facebook.com"><i class="fab fa-facebook-f"></i><span>Facebook</span></a>
									<a href="http://www.linkedin.com"><i class="fab fa-linkedin-in"></i><span>Linkedin</span></a>
									<a href="http://www.twitter.com"><i class="fab fa-twitter"></i><span>Twitter</span></a>
								</span>
							</span>
						</span>
					</div>					

					<div class="col-12 col-sm-6 col-lg-3 isotope-item leadership">
						<span class="thumb-info thumb-info-hide-wrapper-bg mb-4">
							<span class="thumb-info-wrapper">
								<a href="about-me.html">
									<img src="/assets/team/shahid_367x367.jpg" class="img-fluid" alt="">
									<span class="thumb-info-title">
										<span class="thumb-info-inner">Shahid Naveed Malik</span>
										<span class="thumb-info-type">Secretary General</span>
									</span>
								</a>
							</span>
							<span class="thumb-info-caption">
								<span class="thumb-info-caption-text d-none">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac ligula mi, non suscipitaccumsan.</span>
								<span class="thumb-info-social-icons mb-4 mt-3">
									<a target="_blank" href="http://www.facebook.com"><i class="fab fa-facebook-f"></i><span>Facebook</span></a>
									<a href="http://www.linkedin.com"><i class="fab fa-linkedin-in"></i><span>Linkedin</span></a>
									<a href="http://www.twitter.com"><i class="fab fa-twitter"></i><span>Twitter</span></a>
								</span>
							</span>
						</span>
					</div>

					<div class="col-12 col-sm-6 col-lg-3 isotope-item leadership">
						<span class="thumb-info thumb-info-hide-wrapper-bg mb-4">
							<span class="thumb-info-wrapper">
								<a href="about-me.html">
									<img src="/assets/team/shahid_367x367.jpg" class="img-fluid" alt="">
									<span class="thumb-info-title">
										<span class="thumb-info-inner">Name</span>
										<span class="thumb-info-type">Post</span>
									</span>
								</a>
							</span>
							<span class="thumb-info-caption">
								<span class="thumb-info-caption-text d-none">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac ligula mi, non suscipitaccumsan.</span>
								<span class="thumb-info-social-icons mb-4 mt-3">
									<a target="_blank" href="http://www.facebook.com"><i class="fab fa-facebook-f"></i><span>Facebook</span></a>
									<a href="http://www.linkedin.com"><i class="fab fa-linkedin-in"></i><span>Linkedin</span></a>
									<a href="http://www.twitter.com"><i class="fab fa-twitter"></i><span>Twitter</span></a>
								</span>
							</span>
						</span>
					</div>

					



					
				</div>

			</div>
		</div>
	</div>	
</div>