<div class="body">
			
	<div role="main" class="main">
		

		<div class="container py-4">
			<ul class="nav nav-pills sort-source sort-source-style-3 justify-content-center d-none" data-sort-id="team" data-option-key="filter">
				<li class="nav-item active" data-option-value="*"><a class="nav-link text-2-5 text-uppercase active" href="#">Show All</a></li>
				<li class="nav-item" data-option-value=".vice-president"><a class="nav-link text-2-5 text-uppercase" href="#">Vice President</a></li>
				<li class="nav-item" data-option-value=".g-secretary"><a class="nav-link text-2-5 text-uppercase" href="#">General Secretary</a></li>
				<li class="nav-item" data-option-value=".d-secretary"><a class="nav-link text-2-5 text-uppercase" href="#">Deputy Secretary</a></li>
			</ul>

			<div class=" mt-4 pt-2"  >
				<div class="row team-list sort-destination" ">

					<div class="col-12 col-sm-6 col-lg-3 isotope-item leadership">
						<span class="thumb-info thumb-info-hide-wrapper-bg mb-4">
							<span class="thumb-info-wrapper">
								<a href="about-me.html">
									<img src="/assets/team/rusel_367x367.jpg" class="img-fluid" alt="">
									<span class="thumb-info-title">
										<span class="thumb-info-inner">Russel Khan Baber</span>
										<span class="thumb-info-type">Central President</span>
									</span>
								</a>
							</span>
							<span class="thumb-info-caption d-none">
								<span class="thumb-info-caption-text d-none">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac ligula mi, non suscipitaccumsan.</span>
								<span class="thumb-info-social-icons mb-4 mt-3">
									<a target="_blank" href="http://www.facebook.com"><i class="fab fa-facebook-f"></i><span>Facebook</span></a>
									<a href="http://www.linkedin.com"><i class="fab fa-linkedin-in"></i><span>Linkedin</span></a>
									<a href="http://www.twitter.com"><i class="fab fa-twitter"></i><span>Twitter</span></a>
								</span>
							</span>
						</span>
					</div>

					<div class="col-12 col-sm-6 col-lg-3 isotope-item leadership">
						<span class="thumb-info thumb-info-hide-wrapper-bg mb-4">
							<span class="thumb-info-wrapper">
								<a href="about-me.html">
									<img src="/assets/team/shahid_367x367.jpg" class="img-fluid" alt="">
									<span class="thumb-info-title">
										<span class="thumb-info-inner">Shahid Naveed Malik</span>
										<span class="thumb-info-type">General Secretary</span>
									</span>
								</a>
							</span>
							<span class="thumb-info-caption d-none">
								<span class="thumb-info-caption-text d-none">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac ligula mi, non suscipitaccumsan.</span>
								<span class="thumb-info-social-icons mb-4 mt-3">
									<a target="_blank" href="http://www.facebook.com"><i class="fab fa-facebook-f"></i><span>Facebook</span></a>
									<a href="http://www.linkedin.com"><i class="fab fa-linkedin-in"></i><span>Linkedin</span></a>
									<a href="http://www.twitter.com"><i class="fab fa-twitter"></i><span>Twitter</span></a>
								</span>
							</span>
						</span>
					</div>

					<div class="col-12 col-sm-6 col-lg-3 isotope-item leadership">
						<span class="thumb-info thumb-info-hide-wrapper-bg mb-4">
							<span class="thumb-info-wrapper">
								<a href="about-me.html">
									<img src="/assets/team/hassan.jpg" class="img-fluid" alt="">
									<span class="thumb-info-title">
										<span class="thumb-info-inner">Hassan Butt</span>
										<span class="thumb-info-type">Vice President</span>
									</span>
								</a>
							</span>
							<span class="thumb-info-caption d-none">
								<span class="thumb-info-caption-text d-none">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac ligula mi, non suscipitaccumsan.</span>
								<span class="thumb-info-social-icons mb-4 mt-3">
									<a target="_blank" href="http://www.facebook.com"><i class="fab fa-facebook-f"></i><span>Facebook</span></a>
									<a href="http://www.linkedin.com"><i class="fab fa-linkedin-in"></i><span>Linkedin</span></a>
									<a href="http://www.twitter.com"><i class="fab fa-twitter"></i><span>Twitter</span></a>
								</span>
							</span>
						</span>
					</div>

					<div class="col-12 col-sm-6 col-lg-3 isotope-item leadership">
						<span class="thumb-info thumb-info-hide-wrapper-bg mb-4">
							<span class="thumb-info-wrapper">
								<a href="about-me.html">
									<img src="/assets/team/awais.jpg" class="img-fluid" alt="">
									<span class="thumb-info-title">
										<span class="thumb-info-inner">Awais Aslam Mirza</span>
										<span class="thumb-info-type">Vice President</span>
									</span>
								</a>
							</span>
							<span class="thumb-info-caption d-none">
								<span class="thumb-info-caption-text d-none">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac ligula mi, non suscipitaccumsan.</span>
								<span class="thumb-info-social-icons mb-4 mt-3">
									<a target="_blank" href="http://www.facebook.com"><i class="fab fa-facebook-f"></i><span>Facebook</span></a>
									<a href="http://www.linkedin.com"><i class="fab fa-linkedin-in"></i><span>Linkedin</span></a>
									<a href="http://www.twitter.com"><i class="fab fa-twitter"></i><span>Twitter</span></a>
								</span>
							</span>
						</span>
					</div>


					

					<div class="col-12 col-sm-6 col-lg-3 isotope-item leadership">
						<span class="thumb-info thumb-info-hide-wrapper-bg mb-4">
							<span class="thumb-info-wrapper">
								<a href="about-me.html">
									<img src="/assets/team/adeel_367x367.jpg" class="img-fluid" alt="">
									<span class="thumb-info-title">
										<span class="thumb-info-inner">Hafiz Adeel Basit</span>
										<span class="thumb-info-type">Vice President</span>
									</span>
								</a>
							</span>
							<span class="thumb-info-caption d-none">
								<span class="thumb-info-caption-text d-none">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac ligula mi, non suscipitaccumsan.</span>
								<span class="thumb-info-social-icons mb-4 mt-3">
									<a target="_blank" href="http://www.facebook.com"><i class="fab fa-facebook-f"></i><span>Facebook</span></a>
									<a href="http://www.linkedin.com"><i class="fab fa-linkedin-in"></i><span>Linkedin</span></a>
									<a href="http://www.twitter.com"><i class="fab fa-twitter"></i><span>Twitter</span></a>
								</span>
							</span>
						</span>
					</div>

					<div class="col-12 col-sm-6 col-lg-3 isotope-item leadership">
						<span class="thumb-info thumb-info-hide-wrapper-bg mb-4">
							<span class="thumb-info-wrapper">
								<a href="about-me.html">
									<img src="/assets/team/saad.jpg" class="img-fluid" alt="">
									<span class="thumb-info-title">
										<span class="thumb-info-inner">Saad Farooq</span>
										<span class="thumb-info-type">Vice President</span>
									</span>
								</a>
							</span>
							<span class="thumb-info-caption d-none">
								<span class="thumb-info-caption-text d-none">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac ligula mi, non suscipitaccumsan.</span>
								<span class="thumb-info-social-icons mb-4 mt-3">
									<a target="_blank" href="http://www.facebook.com"><i class="fab fa-facebook-f"></i><span>Facebook</span></a>
									<a href="http://www.linkedin.com"><i class="fab fa-linkedin-in"></i><span>Linkedin</span></a>
									<a href="http://www.twitter.com"><i class="fab fa-twitter"></i><span>Twitter</span></a>
								</span>
							</span>
						</span>
					</div>

					<div class="col-12 col-sm-6 col-lg-3 isotope-item leadership">
						<span class="thumb-info thumb-info-hide-wrapper-bg mb-4">
							<span class="thumb-info-wrapper">
								<a href="about-me.html">
									<img src="/assets/team/jamal.jpg" class="img-fluid" alt="">
									<span class="thumb-info-title">
										<span class="thumb-info-inner">Ahmad Jamal Baloch</span>
										<span class="thumb-info-type">Vice President</span>
									</span>
								</a>
							</span>
							<span class="thumb-info-caption d-none">
								<span class="thumb-info-caption-text d-none">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac ligula mi, non suscipitaccumsan.</span>
								<span class="thumb-info-social-icons mb-4 mt-3">
									<a target="_blank" href="http://www.facebook.com"><i class="fab fa-facebook-f"></i><span>Facebook</span></a>
									<a href="http://www.linkedin.com"><i class="fab fa-linkedin-in"></i><span>Linkedin</span></a>
									<a href="http://www.twitter.com"><i class="fab fa-twitter"></i><span>Twitter</span></a>
								</span>
							</span>
						</span>
					</div>

					

					<div class="col-12 col-sm-6 col-lg-3 isotope-item leadership">
						<span class="thumb-info thumb-info-hide-wrapper-bg mb-4">
							<span class="thumb-info-wrapper">
								<a href="about-me.html">
									<img src="/assets/team/furqan.jpg" class="img-fluid" alt="">
									<span class="thumb-info-title">
										<span class="thumb-info-inner">Ahmad Furqan Khalil</span>
										<span class="thumb-info-type">Vice President</span>
									</span>
								</a>
							</span>
							<span class="thumb-info-caption d-none">
								<span class="thumb-info-caption-text d-none">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac ligula mi, non suscipitaccumsan.</span>
								<span class="thumb-info-social-icons mb-4 mt-3">
									<a target="_blank" href="http://www.facebook.com"><i class="fab fa-facebook-f"></i><span>Facebook</span></a>
									<a href="http://www.linkedin.com"><i class="fab fa-linkedin-in"></i><span>Linkedin</span></a>
									<a href="http://www.twitter.com"><i class="fab fa-twitter"></i><span>Twitter</span></a>
								</span>
							</span>
						</span>
					</div>					
					
					<div class="col-12 col-sm-6 col-lg-3 isotope-item leadership">
						<span class="thumb-info thumb-info-hide-wrapper-bg mb-4">
							<span class="thumb-info-wrapper">
								<a href="about-me.html">
									<img src="/assets/team/farhad.jpg" class="img-fluid" alt="">
									<span class="thumb-info-title">
										<span class="thumb-info-inner">Farhad Gul</span>
										<span class="thumb-info-type">Vice President</span>
									</span>
								</a>
							</span>
							<span class="thumb-info-caption d-none">
								<span class="thumb-info-caption-text d-none">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac ligula mi, non suscipitaccumsan.</span>
								<span class="thumb-info-social-icons mb-4 mt-3">
									<a target="_blank" href="http://www.facebook.com"><i class="fab fa-facebook-f"></i><span>Facebook</span></a>
									<a href="http://www.linkedin.com"><i class="fab fa-linkedin-in"></i><span>Linkedin</span></a>
									<a href="http://www.twitter.com"><i class="fab fa-twitter"></i><span>Twitter</span></a>
								</span>
							</span>
						</span>
					</div>
					
					<div class="col-12 col-sm-6 col-lg-3 isotope-item leadership">
						<span class="thumb-info thumb-info-hide-wrapper-bg mb-4">
							<span class="thumb-info-wrapper">
								<a href="about-me.html">
									<img src="/assets/team/rizwan.jpg" class="img-fluid" alt="">
									<span class="thumb-info-title">
										<span class="thumb-info-inner">Rizwan Khan</span>
										<span class="thumb-info-type">Vice President</span>
									</span>
								</a>
							</span>
							<span class="thumb-info-caption d-none">
								<span class="thumb-info-caption-text d-none">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac ligula mi, non suscipitaccumsan.</span>
								<span class="thumb-info-social-icons mb-4 mt-3">
									<a target="_blank" href="http://www.facebook.com"><i class="fab fa-facebook-f"></i><span>Facebook</span></a>
									<a href="http://www.linkedin.com"><i class="fab fa-linkedin-in"></i><span>Linkedin</span></a>
									<a href="http://www.twitter.com"><i class="fab fa-twitter"></i><span>Twitter</span></a>
								</span>
							</span>
						</span>
					</div>
					
					
					
					<div class="col-12 col-sm-6 col-lg-3 isotope-item leadership">
						<span class="thumb-info thumb-info-hide-wrapper-bg mb-4">
							<span class="thumb-info-wrapper">
								<a href="about-me.html">
									<img src="/assets/team/adil.jpg" class="img-fluid" alt="">
									<span class="thumb-info-title">
										<span class="thumb-info-inner">Adil Fiaz</span>
										<span class="thumb-info-type">Vice President</span>
									</span>
								</a>
							</span>
							<span class="thumb-info-caption d-none">
								<span class="thumb-info-caption-text d-none">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac ligula mi, non suscipitaccumsan.</span>
								<span class="thumb-info-social-icons mb-4 mt-3">
									<a target="_blank" href="http://www.facebook.com"><i class="fab fa-facebook-f"></i><span>Facebook</span></a>
									<a href="http://www.linkedin.com"><i class="fab fa-linkedin-in"></i><span>Linkedin</span></a>
									<a href="http://www.twitter.com"><i class="fab fa-twitter"></i><span>Twitter</span></a>
								</span>
							</span>
						</span>
					</div>
					
					
					
					

					<div class="col-12 col-sm-6 col-lg-3 isotope-item leadership">
						<span class="thumb-info thumb-info-hide-wrapper-bg mb-4">
							<span class="thumb-info-wrapper">
								<a href="about-me.html">
									<img src="/assets/team/jibran.jpg" class="img-fluid" alt="">
									<span class="thumb-info-title">
										<span class="thumb-info-inner">Dr jibran Baloch</span>
										<span class="thumb-info-type">Vice President</span>
									</span>
								</a>
							</span>
							<span class="thumb-info-caption d-none">
								<span class="thumb-info-caption-text d-none">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac ligula mi, non suscipitaccumsan.</span>
								<span class="thumb-info-social-icons mb-4 mt-3">
									<a target="_blank" href="http://www.facebook.com"><i class="fab fa-facebook-f"></i><span>Facebook</span></a>
									<a href="http://www.linkedin.com"><i class="fab fa-linkedin-in"></i><span>Linkedin</span></a>
									<a href="http://www.twitter.com"><i class="fab fa-twitter"></i><span>Twitter</span></a>
								</span>
							</span>
						</span>
					</div>

					<div class="col-12 col-sm-6 col-lg-3 isotope-item leadership d-none">
						<span class="thumb-info thumb-info-hide-wrapper-bg mb-4">
							<span class="thumb-info-wrapper">
								<a href="about-me.html">
									<img src="/assets/team/yousaf.jpg" class="img-fluid" alt="">
									<span class="thumb-info-title">
										<span class="thumb-info-inner">Yousaf Khatak</span>
										<span class="thumb-info-type">Vice President</span>
									</span>
								</a>
							</span>
							<span class="thumb-info-caption d-none">
								<span class="thumb-info-caption-text d-none">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac ligula mi, non suscipitaccumsan.</span>
								<span class="thumb-info-social-icons mb-4 mt-3">
									<a target="_blank" href="http://www.facebook.com"><i class="fab fa-facebook-f"></i><span>Facebook</span></a>
									<a href="http://www.linkedin.com"><i class="fab fa-linkedin-in"></i><span>Linkedin</span></a>
									<a href="http://www.twitter.com"><i class="fab fa-twitter"></i><span>Twitter</span></a>
								</span>
							</span>
						</span>
					</div>


					

					<%# Depty secretary %>

					<div class="col-12 col-sm-6 col-lg-3 isotope-item leadership">
						<span class="thumb-info thumb-info-hide-wrapper-bg mb-4">
							<span class="thumb-info-wrapper">
								<a href="about-me.html">
									<img src="/assets/team/azzam.jpg" class="img-fluid" alt="">
									<span class="thumb-info-title">
										<span class="thumb-info-inner">Abdullah Azzam</span>
										<span class="thumb-info-type">Deputy Secretary</span>
									</span>
								</a>
							</span>
							<span class="thumb-info-caption d-none">
								<span class="thumb-info-caption-text d-none">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac ligula mi, non suscipitaccumsan.</span>
								<span class="thumb-info-social-icons mb-4 mt-3">
									<a target="_blank" href="http://www.facebook.com"><i class="fab fa-facebook-f"></i><span>Facebook</span></a>
									<a href="http://www.linkedin.com"><i class="fab fa-linkedin-in"></i><span>Linkedin</span></a>
									<a href="http://www.twitter.com"><i class="fab fa-twitter"></i><span>Twitter</span></a>
								</span>
							</span>
						</span>
					</div>

					<div class="col-12 col-sm-6 col-lg-3 isotope-item leadership">
						<span class="thumb-info thumb-info-hide-wrapper-bg mb-4">
							<span class="thumb-info-wrapper">
								<a href="about-me.html">
									<img src="/assets/team/ijaz.jpg" class="img-fluid" alt="">
									<span class="thumb-info-title">
										<span class="thumb-info-inner">Abdullah Ijaz</span>
										<span class="thumb-info-type">Deputy Secretary</span>
									</span>
								</a>
							</span>
							<span class="thumb-info-caption d-none">
								<span class="thumb-info-caption-text d-none">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac ligula mi, non suscipitaccumsan.</span>
								<span class="thumb-info-social-icons mb-4 mt-3">
									<a target="_blank" href="http://www.facebook.com"><i class="fab fa-facebook-f"></i><span>Facebook</span></a>
									<a href="http://www.linkedin.com"><i class="fab fa-linkedin-in"></i><span>Linkedin</span></a>
									<a href="http://www.twitter.com"><i class="fab fa-twitter"></i><span>Twitter</span></a>
								</span>
							</span>
						</span>
					</div>

					

					

					<div class="col-12 col-sm-6 col-lg-3 isotope-item leadership">
						<span class="thumb-info thumb-info-hide-wrapper-bg mb-4">
							<span class="thumb-info-wrapper">
								<a href="about-me.html">
									<img src="/assets/team/atta.jpg" class="img-fluid" alt="">
									<span class="thumb-info-title">
										<span class="thumb-info-inner">Atta ur Rehman Shaban </span>
										<span class="thumb-info-type">Deputy Secretary</span>
									</span>
								</a>
							</span>
							<span class="thumb-info-caption d-none">
								<span class="thumb-info-caption-text d-none">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac ligula mi, non suscipitaccumsan.</span>
								<span class="thumb-info-social-icons mb-4 mt-3">
									<a target="_blank" href="http://www.facebook.com"><i class="fab fa-facebook-f"></i><span>Facebook</span></a>
									<a href="http://www.linkedin.com"><i class="fab fa-linkedin-in"></i><span>Linkedin</span></a>
									<a href="http://www.twitter.com"><i class="fab fa-twitter"></i><span>Twitter</span></a>
								</span>
							</span>
						</span>
					</div>

					<div class="col-12 col-sm-6 col-lg-3 isotope-item leadership">
						<span class="thumb-info thumb-info-hide-wrapper-bg mb-4">
							<span class="thumb-info-wrapper">
								<a href="about-me.html">
									<img src="/assets/team/zabeehullah.jpg" class="img-fluid" alt="">
									<span class="thumb-info-title">
										<span class="thumb-info-inner">Malik Zabeehullah</span>
										<span class="thumb-info-type">Deputy Secretary</span>
									</span>
								</a>
							</span>
							<span class="thumb-info-caption d-none">
								<span class="thumb-info-caption-text d-none">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac ligula mi, non suscipitaccumsan.</span>
								<span class="thumb-info-social-icons mb-4 mt-3">
									<a target="_blank" href="http://www.facebook.com"><i class="fab fa-facebook-f"></i><span>Facebook</span></a>
									<a href="http://www.linkedin.com"><i class="fab fa-linkedin-in"></i><span>Linkedin</span></a>
									<a href="http://www.twitter.com"><i class="fab fa-twitter"></i><span>Twitter</span></a>
								</span>
							</span>
						</span>
					</div>

					<div class="col-12 col-sm-6 col-lg-3 isotope-item leadership">
						<span class="thumb-info thumb-info-hide-wrapper-bg mb-4">
							<span class="thumb-info-wrapper">
								<a href="about-me.html">
									<img src="/assets/team/abdullah.jpg" class="img-fluid" alt="">
									<span class="thumb-info-title">
										<span class="thumb-info-inner">Abdullah Hasan Tufail</span>
										<span class="thumb-info-type">Deputy Secretary</span>
									</span>
								</a>
							</span>
							<span class="thumb-info-caption d-none">
								<span class="thumb-info-caption-text d-none">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac ligula mi, non suscipitaccumsan.</span>
								<span class="thumb-info-social-icons mb-4 mt-3">
									<a target="_blank" href="http://www.facebook.com"><i class="fab fa-facebook-f"></i><span>Facebook</span></a>
									<a href="http://www.linkedin.com"><i class="fab fa-linkedin-in"></i><span>Linkedin</span></a>
									<a href="http://www.twitter.com"><i class="fab fa-twitter"></i><span>Twitter</span></a>
								</span>
							</span>
						</span>
					</div>

					<div class="col-12 col-sm-6 col-lg-3 isotope-item leadership">
						<span class="thumb-info thumb-info-hide-wrapper-bg mb-4">
							<span class="thumb-info-wrapper">
								<a href="about-me.html">
									<img src="/assets/team/jawad.jpg" class="img-fluid" alt="">
									<span class="thumb-info-title">
										<span class="thumb-info-inner">Jawad Hassan</span>
										<span class="thumb-info-type">Vice President</span>
									</span>
								</a>
							</span>
							<span class="thumb-info-caption d-none">
								<span class="thumb-info-caption-text d-none">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac ligula mi, non suscipitaccumsan.</span>
								<span class="thumb-info-social-icons mb-4 mt-3">
									<a target="_blank" href="http://www.facebook.com"><i class="fab fa-facebook-f"></i><span>Facebook</span></a>
									<a href="http://www.linkedin.com"><i class="fab fa-linkedin-in"></i><span>Linkedin</span></a>
									<a href="http://www.twitter.com"><i class="fab fa-twitter"></i><span>Twitter</span></a>
								</span>
							</span>
						</span>
					</div>

					<div class="col-12 col-sm-6 col-lg-3 isotope-item leadership">
						<span class="thumb-info thumb-info-hide-wrapper-bg mb-4">
							<span class="thumb-info-wrapper">
								<a href="about-me.html">
									<img src="/assets/team/amanullah.jpg" class="img-fluid" alt="">
									<span class="thumb-info-title">
										<span class="thumb-info-inner">Malik Amanullah</span>
										<span class="thumb-info-type">Vice President</span>
									</span>
								</a>
							</span>
							<span class="thumb-info-caption d-none">
								<span class="thumb-info-caption-text d-none">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac ligula mi, non suscipitaccumsan.</span>
								<span class="thumb-info-social-icons mb-4 mt-3">
									<a target="_blank" href="http://www.facebook.com"><i class="fab fa-facebook-f"></i><span>Facebook</span></a>
									<a href="http://www.linkedin.com"><i class="fab fa-linkedin-in"></i><span>Linkedin</span></a>
									<a href="http://www.twitter.com"><i class="fab fa-twitter"></i><span>Twitter</span></a>
								</span>
							</span>
						</span>
					</div>
					
					

					<div class="col-12 col-sm-6 col-lg-3 isotope-item leadership">
						<span class="thumb-info thumb-info-hide-wrapper-bg mb-4">
							<span class="thumb-info-wrapper">
								<a href="about-me.html">
									<img src="/assets/team/ahmad.jpg" class="img-fluid" alt="">
									<span class="thumb-info-title">
										<span class="thumb-info-inner">Ahmad Nisar</span>
										<span class="thumb-info-type">Deputy Secretary</span>
									</span>
								</a>
							</span>
							<span class="thumb-info-caption d-none">
								<span class="thumb-info-caption-text d-none">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac ligula mi, non suscipitaccumsan.</span>
								<span class="thumb-info-social-icons mb-4 mt-3">
									<a target="_blank" href="http://www.facebook.com"><i class="fab fa-facebook-f"></i><span>Facebook</span></a>
									<a href="http://www.linkedin.com"><i class="fab fa-linkedin-in"></i><span>Linkedin</span></a>
									<a href="http://www.twitter.com"><i class="fab fa-twitter"></i><span>Twitter</span></a>
								</span>
							</span>
						</span>
					</div>
					
					



					

					

					



					
				</div>

			</div>
		</div>
	</div>	
</div>