@media screen and (min-width: 768px){
    .header-logo-non-sticky{
       width: 150px !important;
       height: 60px !important;
       top: -15px !important ;

   
    }
}   

@media screen and (max-width: 767px){
 .header-logo-non-sticky{
    width: 100px !important;
    height: 48px !important;
    top: 0px !important ;

 }
}

