<label for="units">Councils <span class="text-danger"> *</span></label>
<select class="form-select my-select-tag form-select-lg" disabled>
  <option value="" disabled selected>Select Council</option>
</select>