<label for="units">Councils <span class="text-danger"> *</span></label>
<%= select_tag('unit', options_for_select((units || []).map{|p| [p.title, p.id]}), prompt: 'Select Unit', class:"form-select my-select-tag form-select-lg select-unit") %>

